<div class="container">
  {{! Member Icons }}
  <div class="row">
    <ul class="collection avatar-collection col s8 offset-s2 m8 offset-m2" id="member-icons">
      {{#each family_member}}
        <li class="collection-item avatar">
          <img src="/images/avatar.png" alt="avatar image" class="circle" />
          <span class="title">{{this.member_name}}</span>
        </li>
      {{/each}}
    </ul>
  </div>

  {{! Datepicker & New task button }}
  <div class="row valign-wrapper">
    <div class="input-field col s4 offset-s1 m3 offset-m2">
      <input id="date" type="text" class="datepicker"/>
      <label for="date">Filter by date</label>
    </div>
    <div class="col s4 offset-s2 m3 offset-m2">
      <a
        class="waves-effect waves-light btn"
        id="create-button"
        href="/dashboard/{{id.user_id}}/new"
      ><i class="small material-icons left">add_circle</i>Create new task</a>
    </div>

  </div>

  {{! To-do Lists }}
    <div class="row">
        {{! To-Dos }}
        <div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-header custom-header"><h5>To-dos</h5></li>
                {{#each family_member as |task|}}
                    {{#if (filterCategory task.category "To-do")}}
                    <li class="collection-item custom-li">
                        <span class="badge">Due {{task.due_date}}</span>
                        {{task.task_name}}<br/>
                        <span class="task-member">{{task.member_name}}</span>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>

        {{! Chores }}
        <div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-header custom-header"><h5>Chores</h5></li>
                {{#each family_member as |task|}}
                {{#if (filterCategory task.category "Chore")}}
                    <li class="collection-item custom-li">
                        <span class="badge">Due {{task.due_date}}</span>
                        {{task.task_name}}<br/>
                        <span class="task-member">{{task.member_name}}</span>
                    </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        {{! Appointments }}
        <div class="col s12 m5">
            <ul class="collection with-header">
                <li class="collection-header custom-header"><h5>Appointments</h5></li>
                {{#each family_member as |task|}}
                {{#if (filterCategory task.category "Appointment")}}
                    <li class="collection-item custom-li">
                        <span class="badge">Due {{task.due_date}}</span>
                        {{task.task_name}}<br/>
                        <span class="task-member">{{task.member_name}}</span>
                    </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>

        {{! Events }}
        <div class="col s12 m5">
            <ul class="collection with-header">
                <li class="collection-header custom-header"><h5>Events</h5></li>
                {{#each family_member as |task|}}
                {{#if (filterCategory task.category "Event")}}
                    <li class="collection-item custom-li">
                        <span class="badge">Due {{task.due_date}}</span>
                        {{task.task_name}}<br/>
                        <span class="task-member">{{task.member_name}}</span>
                    </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

</div>

<script src="/js/dashboard.js"></script>